body {
                height: 2000px;
                max-width: 600px;
		color: black;
		text-align: center;
		background-image: url('../images/ptsdGraph.jpg');
		background-repeat: no-repeat;
		background-size: cover;
                font-size: 50px;
	}
