header {
	text-align: center; 
	height: 900px;
	background-image: url('../images/YouMatter.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	font-family: 'Syne Tactile', cursive;
	font-size: 1em;
}



ul li {
	padding-top: 1em;
	list-style: none;
	display: flex;
	flex-direction: flex-start;
	color: white;
	font-family: 'Syne Mono', monospace;
}
ul li a {
	
	text-decoration: none;
	color: white;
}
header h1 {
	font-size: 5em;
	padding-top: 50px;
	display: grid;
	justify-content: center;
	align-items: center;
}
header{
	color: white;
}
.main  {
	text-align: left;
	padding-left: 15px;
	padding-right: 100px;
	height: 600px;
	background-image: url('../images/moutainClimbingMatters.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: green;
}
 
.article {
	text-align: right;
	padding-right: 20px;
	padding-left: 250px;
	height: 600px;
	background-image: url('../images/hoping.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.aside {
	text-align: left;
	padding-right: 200px;
	padding-left: 25px;
	background-image: url('../images/soldiersbene.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	color: red;
}
.footer {
	
	background-image: url('../images/MilitaryPTSD.jpg');
	background-repeat: no repeat;
	background-size: cover;
	height:100vh;
}

body {
	text-align: center;

}
img {
	text-align: center;
	max-width: 450px;
}
footer {
	display: grid;
}
