header {
	text-align: center; 
	height: 500px;
	width: 100%;
	background-image: url('../images/walking-away.webp');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
}
header h1 {
	padding-top: 200px;
	display: grid;
	justify-content: center;
	align-items: center;
}
body {
	text-align: center;
}
footer {
	display: grid;
	justify-content: center;
	align-items: center;
	background: linear-gradient(grey, silver);
	height:400px;
}